body {
  height: 500vw; /* 스크롤 내리게 하기위해 */
  font-family: "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", NanumGothic,
    "Malgun Gothic", sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background: #fff000;
}

.world {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; /* 명확하게 화면을 100% */
  height: 100vh;
  perspective: 1000px;
}

.stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d; /* 3d효과를 보존한다 */
}

.house {
  width: 100vw;
  height: 100vh;
  transform: translateZ(-490vw); /* 멀리서 볼수있게 셋팅 */
  transform-style: preserve-3d;
}

.wall {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}

.wall-left {
  width: 1000vw;
  background: #f8f8f8;
  transform: rotateY(90deg) translateZ(-500vw);
}

.wall-right {
  width: 1000vw;
  background: #f8f8f8;
  transform: rotateY(90deg) translateZ(-400vw);
}

.wall-front-a {
  /* 각 면의 위치 조정 (z축) */
  transform: translateZ(300vw);
}
.wall-front-b {
  transform: translateZ(50vw);
}
.wall-front-c {
  transform: translateZ(-200vw);
}
.wall-front-d {
  transform: translateZ(-500vw);
}

.wall-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wall-title {
  font-size: 5rem;
}

.progress-bar-con {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 5px;
  background: #555;
}

.progress-bar {
  width: 0;
  height: 100%;
  background: #00a8ff;
}

/* character */
.character {
  position: absolute;
  left: 12%;
  bottom: 5%;
  width: 10vw;
  height: 15.58vw; /* width, height 이렇게 준 이유는 화면의 크기에 따라 비율을 맞추기 위해서 */
  transform-style: preserve-3d;
}

.character [data-direction="forward"] {
  transform: rotateY(180deg);
}
.character [data-direction="backward"] {
  transform: rotateY(0deg);
}
.character [data-direction="left"] {
  transform: rotateY(-90deg);
}
.charactoer [data-direction="right"] {
  transform: rotateY(90deg);
}

.character-face-con {
  /* 캐릭터 부위 전체 클래스 */
  position: absolute; /*원하는 위치에 놓기위해 */
  transform-style: preserve-3d;
  transition: 1s;
}

.character-face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.character-face.face-back {
  transform: rotateY(180deg);
}

.character-head {
  left: calc(
    42 / 856 * 100%
  ); /* 머리의 시작지점 계산 ( 맨앞~머리시작전/ 전체 ) */
  width: calc(770 / 856 * 100%); /* 머리통의 너비/ 전체 */
  height: calc(648 / 1334 * 100%);
  top: 0;
  z-index: 60;
  transform-origin: center bottom;
  animation: ani-moving0 0.6s infinite alternate
    cubic-bezier(0.46, 0.18, 0.66, 0.93);
}
/* infinite alternate 무한히, 왔다갔다. */
/* cubic-bezier: 가속도 설정 , 개발자도구 설정 */

.character-head-face.face-front {
  background-image: url("../images/ilbuni_head_front.png");
}
.character-head-face.face-back {
  background-image: url("../images/ilbuni_head_back.png");
}
.character-torso {
  left: ;
}
